html {
	font-size: 100%
}

h1{
  font-size:50px;
  font-family: 'Roboto Slab',Georgia,Helvetica serif;
  background-color:#254C5C;
  color:white
}


body{
text-align:center;
font-size:15px;
line-height:normal;
font-family:'Roboto',Georgia,Helvetica sans-serif;
background-color:#b3e0ff;
color:#254C5C;
}

img{
  border:0
}
/*navigation bar*/
ul{
  position:absolute;
  top:0px;left:0px;
  font-family:'Open Sans',Georgia,Helvetica sans-serif;
  font-size:20px;
  line-height:normal;
  font-weight:400;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

@media only screen and (max-width: 768px){
  /* For mobile: */
	}
