/* || GENERAL STYLES */
/* Alternate Box Model */

html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	width: 100%;
	margin: 0;
	font-family:'Roboto',Georgia,Helvetica sans-serif;
	background-color:#b3e0ff;
	text-align: center;
}

img{
	border:0;
	max-width: 100%;
}

p{
	line-height: 2rem;
}

/* || UTILITIES */

/* For the main/hero image on a webpage */
.main_img{
	max-height: 60vh;
}

/* Will highlight the current page on the navbar*/
.current_page{
	background: #346C82;
}

/* For lists without bullets */

.no_list{
	list-style: none;
	margin:0;
	padding: 0;
}
/* For links without underlines */
.no_dec{
	text-decoration: none;
}

/* || SITEWIDE */

/* HEADING AND NAVIGATION */

header{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: stretch;
	background: #254C5C;
	margin: 0;
	padding: 0;
}

header a, nav{
	width: 100%;
}

header h1{
	font-size: 2.5rem;
	font-family: 'Roboto Slab',Georgia,Helvetica serif;
	color:white;
	margin: 0;
}

nav ul{
	display: flex;
	flex-flow: column;
	list-style-type: none;
	width: 100%;
}

nav ul li{
	display: flex;
	width: 100%;
}

nav ul li a{
	font-size: 1.5rem;
	color: white;
	width: 100%;
	padding: 10px 20px;
	border-top: 1px solid white;
}

nav ul li a:hover{
	background: #346C82;
}

/* Element Styles */

section{
	line-height: 1.5rem;
	margin: 3rem initial;
}

h2 {
	background-color: #254C5C;
  	font-family: 'Roboto Slab',Georgia,Helvetica serif;
	color: white;
	padding: 1.5rem 0;
}

.hero {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 2rem;
}

.hero article.link_box{
	display: flex;
	flex-flow: column;
	background: #FFD2B3;
	border: 5px inset #939290;
	border-radius: 20px;
	padding: 2.5rem 1.5rem;
	margin: 2rem;
}

.hero > a{
	width: 45%;
}

.link_box a{
	margin-bottom: 1rem;
	color: blue;
	text-decoration: none;
}

.link_box a:hover{
	color: white;
	text-decoration: underline;
}

.link_box a:last-child{
	margin: 0;
}

/* || PAGE SPECIFIC */

/* INDEX PAGE */

.content img {
	display: block;
	margin: auto;
	max-height: 50vh;
	max-width: 75vw;
	
}

.content p {
	max-width: 90%;
	text-align: initial;
	margin: 1rem auto;
}

/* ROADMAP PAGE */

.roadmap_page{
	text-align: left;
	max-width: 80%;
	margin: 30px auto;
	line-height: 2.5rem;
}

.roadmap_page .list_headers{
	font-size: 1.5rem;
}

.roadmap_page ul {
	text-align: left;
}

.roadmap_page li{
	color: black;
}

.roadmap_page a{
	text-decoration: none;
}

.roadmap_page a:hover{
	text-decoration: underline;

}

/* DOG PAGE */

.dog_page hr{
	height: 30px;
	background: #254C5C;
}

.dog_page ul{
	line-height: 2rem;
}

.dog_page figure{
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

.dog_page figcaption{
	font-size: 2rem;
	line-height: 2rem;
	padding: 20px;
}

.dog_page img{
	max-height: 70vh;
	max-width: 70vw;
}
@media screen and (min-width: 600px){

	header{
		flex-flow: row;
		align-items: stretch;
	}

	header a:first-child{
		display: flex;
	}
	h1{
		padding: 10px;
	}

	nav{
		display: flex;
	}

	nav ul{
		flex-direction: row;
	}

	nav ul li a{
		display: flex;
		padding: 0 10px;
		align-self: stretch;
		align-items: center;
		font-size: 1rem;
		justify-content: center;
		border: none;
	}


	h2 {
		font-size: 3rem;
	}

	.content {
		margin: 5vw;
		display: flex;
		flex-flow: column;
	}

	.content p {
		max-width:95%;
		font-size: 1.25em;
	}

	
	.dog_page figure{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
	}

	.dog_page figcaption{
		font-size: 2.5rem;
		line-height: 3rem;
	}
	
}
@media screen and (min-width: 800px){

	.item {
		width:100%
	}

	.flex_row{
		display: flex;
		flex-direction: row;
	}
}